.ComponentContainer {
  padding: 15px 0px 15px 0px;
  display: flex;
  justify-content: center;
}

.ComponentInput {
  width: 100%;
}

.ButtonContainer {
  display: flex;
  justify-content: end;
  align-items: center;

  margin-bottom: 10px;
  margin-right: 25px;
}

.ComponentButton {
  margin-left: 10px;
  padding: 10px;
  font-size: var(--text-sm);
  font-weight: var(--font-medium);

  border: none;
  background: var(--secondary);
  color: white;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.2s ease;
  text-decoration: none;
}
